<div class="container">
  <!-- section title -->
  <div class="row mt-3">
    <div class="col-12 text-center">
      <h1>Quick country info access</h1>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <form [formGroup]="weatherSearchForm" (ngSubmit)="checkWeather()">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Country name input" formControlName="city">
            <div class="input-group-append">
              <button id="check-weather" class="btn btn-primary" type="submit">Get data</button>
            </div>
          </div>
          <span class="validation-message" *ngIf="weatherSearchForm.get('city')?.hasError('required')">
            Country name input
          </span>
        </div>
      </form>
    </div>
  </div>


  <div class="row mt-3">
    <div class="col-12 text-center">
      <h3>Search history</h3>
      <div class="row mt-3">
        <div class="col-6">
          <app-main-page [countryData]="firstCountryData" (refreshEvent)="onRefresh()">
          </app-main-page>
        </div>
        <div class="col-6">
          <app-main-page [countryData]="secondCountryData" (refreshEvent)="onRefresh()">
          </app-main-page>
        </div>
      </div>
    </div>
  </div>

</div>
